BasedOnStyle: LLVM
IndentWidth: 4
ColumnLimit: 0
BraceWrapping:
  AfterFunction: true
  AfterControlStatement: false
AllowShortIfStatementsOnASingleLine: true
AllowShortFunctionsOnASingleLine: true
AllowShortBlocksOnASingleLine: true
UseTab: Never
